.wrapper {
    margin: 20px;
}
.btn {
    border: none;
    background-color: blueviolet;
    cursor: pointer;
    color: #ffffff;
    margin-right: 20px;
    font-size: 18px;
    padding: 5px 15px;
}