.list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
}
.item {
    border: 1px solid #000000;
    display: flex;
}
.heading_row {
    display: flex;
    border: 1px solid;
}
.cell {
    width: 30%;
    padding: 10px;
    border-right: 1px solid;
}
.cell:last-child {
    border-right: none;
}